/* Movie Container */
.movieContainer {
  display: flex;
  flex-wrap: wrap;
}

.movieTitle {
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
}

/* Search */

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
